body {
    font-family: Roboto, Arial;
    margin: 0px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 1fr 120px;
}

button {
    cursor: pointer;
}

select {
    cursor: pointer;
}

input, select, button {
    font-family: Roboto, Arial;
}
