body {
    font-family: Arial;
}

.todo-list,
.todo-input {
    display: grid;
    grid-template-columns: 250px 150px 100px;
    column-gap: 20px;
    row-gap: 10px;
    align-items: center;
}

.todo-input {
    margin-bottom: 10px;
}

.todo-name-input,
.due-date-input {
    height: 25px;
    padding: 8px 10px;
    font-size: 14px;
}

.add-button,
.delete-button {
    height: 45px;
    color: white;
    font-weight: 700;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.add-button {
    background-color: green;
}

.delete-button {
    background-color:rgb(180, 8, 8);
}